{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "1.x"
        }
    },
    "minMsi": 58.33,
    "minCoveredMsi": 80.95
}
